@use '~/node_modules/leaflet/dist/leaflet.css';
@use '~/node_modules/bulma/bulma.scss';

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

$family-serif: 'DM Serif Text', serif;
$family-sans-serif: 'Zalando Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $family-sans-serif;
}
